#abgne-block-20140616, #abgne-block-20140105 li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#abgne-block-20140616 {
    position: relative;
    top: 0px;
    left: 50px;
    width: 650px;
    height: 100px;
}
#abgne-block-20140616 li {
    position: absolute;
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    -ms-transition: -ms-transform 0.4s linear;
    transition: transform 0.4s linear;
}
#abgne-block-20140616 li:nth-child(1) {
    left: 0px;
}
#abgne-block-20140616 li:nth-child(2) {
    left: 110px;
}
#abgne-block-20140616 li:nth-child(3) {
    left: 220px;
}
#abgne-block-20140616 li:nth-child(4) {
    left: 330px;
}
#abgne-block-20140616 li:nth-child(5) {
    left: 440px;
}
#abgne-block-20140616 li:nth-child(6) {
    left: 550px;
}
#abgne-block-20140616 li:hover {
    /* scaleX(x), skewX(tanY), skewX(tanX), scaleX(Y), translate(X), translate(Y) */
    -ms-transform: matrix(2,-0.5,1,2,0,0); /* IE 9 */
    -webkit-transform: matrix(2,-0.5,1,2,0,0); /* Chrome, Safari, Opera */
    transform: matrix(2,-0.5,1,2,0,0);
    z-index: 1;
}
#abgne-block-20140616 li a img {
    border: none;
}